---
layout: single
permalink: /
date: 2016-12-23T17:32:58-00:00
sidebar:
  nav: "sites"
header:
  overlay_color: "#fff"
  overlay_filter: "0.5"
  overlay_image: route.gif
  caption: ""
excerpt: "Helping to widen the use of Routegadget. Draw your route after an orienteering event and compare it with others."
feature_row:
  - title: "User guide"
    excerpt: "All you need to know to add your own route and see where other people went."
    url: "/user-guide"
    btn_label: "Read more..."
  - title: "Statistics"
    excerpt: "Full details of all RG2 installations, including all the latest events and routes."
    url: "https://www.maprunner.co.uk/rg2-stats"
    btn_label: "See stats"
  - title: "History"
    excerpt: "Find out about the development of Routegadget, Routegadget 2 and this website."
    url: "/history"
    btn_label: "Read more..."
---
{% include base_path %}
<h1>Latest News</h1>
Routegadget UK moved to a new server on 23 December 2016. Most people should notice no difference, other than a short period after 10.00 p.m. that night when the site is down to allow the move to be completed.

You may be affected if you are the manager of one of the Routegadget UK club sites, or have been asked to set up a new event:
<ul>
<li>If you want to use FTP then I will need to set up a new account for you. I didn't fancy setting up 100 FTP accounts one at a time, of which 90+ probably won't be used.</li>
<li>I have completly removed all of the Java versions. Very few people were using these, but there are still one or two clubs who are using the Java manager. I'd much prefer you to move to the RG2 manager. I can reset your user account password if needed.</li>
</ul>

Please <a href="http://www.routegadget.co.uk/contact">contact Simon</a> if either of these applies to you.

There is a Nopesport thread discussing the move which has more details and will hopefully help resolve any issues.

{% include feature_row %}
